* {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0f1ff));
  background: linear-gradient(white, #f0f1ff);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
}

.header__title {
  color: #13183f;
}

.header__button {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 1rem;
  border: none;
  border-radius: 28px;
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: #13183f;
  color: #fff;
}

.main {
  overflow: hidden;
}

.main__text {
  width: 80%;
  margin: 0 auto;
}

.main__text--bold {
  margin: 2rem 0 1rem 0;
  color: #13183f;
  font-weight: bold;
  font-size: 2rem;
}

.main__text--normal {
  margin-bottom: 1rem;
  line-height: 26px;
}

.main__text--button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 31px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6f48), to(#f02aa6));
  background: linear-gradient(#ff6f48, #f02aa6);
  color: #fff;
  margin-bottom: 2rem;
  font-weight: bold;
}

.main__image .image {
  display: block;
  margin: 0 auto;
}

.main__image #imageTablet {
  display: none;
}

.main__image #imageDesktop {
  display: none;
}

.courses {
  width: 80%;
  margin: 0 auto;
}

.courses__container__check {
  padding: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6f48), to(#f02aa6));
  background: linear-gradient(#ff6f48, #f02aa6);
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  margin-bottom: 3rem;
  font-weight: bold;
}

.courses__container__box {
  position: relative;
  margin: 3rem 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
}

.courses__container__box img {
  top: 0;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.courses__container__box--title {
  margin: 2rem 0 1rem;
  font-weight: bold;
  font-size: 20px;
  color: #13183f;
}

.courses__container__box--text {
  color: #666ca3;
  margin-bottom: 3rem;
}

.courses__container__box--getStarted {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #f74780;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7rem;
  width: 100%;
  padding: 2rem;
  background-color: #13183f;
}

.footer__title {
  color: #fff;
}

.footer__button {
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#4851ff), to(#f02aa6));
  background: linear-gradient(#4851ff, #f02aa6);
  border: none;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__text {
    margin: 10rem 0 0 2rem;
  }
  .main__image {
    width: 50%;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  .main__image #imageTablet {
    display: inline-block;
  }
  .main__image #image {
    display: none;
  }
  .courses__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }
}

@media (min-width: 868px) {
  .main__image {
    -webkit-transform: translate(12%, -15%);
            transform: translate(12%, -15%);
  }
}

@media (min-width: 1200px) {
  .main__image {
    width: 45vw;
    -webkit-transform: translate(-15%, -25%);
            transform: translate(-15%, -25%);
  }
  .main__image #imageTablet {
    display: none;
  }
  .main__image #imageDesktop {
    display: inline-block;
  }
}

@media (min-width: 1600px) {
  .main__image {
    width: 45vw;
    -webkit-transform: translate(0%, -25%);
            transform: translate(0%, -25%);
  }
  .main__image #imageTablet {
    display: none;
  }
  .main__image #imageDesktop {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */