$grayLight: #666ca3;
$grayDark: #13183f;
$gray: #83869a;
$pink: #f74780;
$pinkLight: #ffa7c3;
$white: #fff;
$bodyColor: linear-gradient(rgba(255, 255, 255, 1), rgba(240, 241, 255, 1));
$orage-pinkGradient: linear-gradient(
  rgba(255, 111, 72, 1),
  rgba(240, 42, 166, 1)
);
$blue-pinkGradient: linear-gradient(
  rgba(72, 81, 255, 1),
  rgba(240, 42, 166, 1)
);

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  margin: 0 auto;
  background: $bodyColor;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto;

  &__title {
    color: $grayDark;
  }
  &__button {
    justify-self: end;
    margin-right: 1rem;
    border: none;
    border-radius: 28px;
    padding: 0.5rem 1rem;
    font-size: 16px;
    background-color: $grayDark;
    color: $white;
  }
}
.main {
  overflow: hidden;
  &__text {
    width: 80%;
    margin: 0 auto;
    &--bold {
      margin: 2rem 0 1rem 0;
      color: $grayDark;
      font-weight: bold;
      font-size: 2rem;
    }
    &--normal {
      margin-bottom: 1rem;
      line-height: 26px;
    }
    &--button {
      padding: 1rem 2rem;
      border: none;
      border-radius: 31px;
      background: $orage-pinkGradient;
      color: $white;
      margin-bottom: 2rem;
      font-weight: bold;
    }
  }
  &__image {
    .image {
      display: block;
      margin: 0 auto;
    }
    #imageTablet {
      display: none;
    }
    #imageDesktop {
      display: none;
    }
  }
}

.courses {
  width: 80%;
  margin: 0 auto;
  &__container {
    &__check {
      padding: 2rem;
      background: $orage-pinkGradient;
      color: $white;
      font-size: 24px;
      border-radius: 10px;
      margin-bottom: 3rem;
      font-weight: bold;
    }
    &__box {
      position: relative;
      margin: 3rem 0;
      padding: 1rem;
      background-color: $white;
      border-radius: 10px;
      img {
        top: 0;
        left: 20%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
      &--title {
        margin: 2rem 0 1rem;
        font-weight: bold;
        font-size: 20px;
        color: $grayDark;
      }
      &--text {
        color: $grayLight;
        margin-bottom: 3rem;
      }
      &--getStarted {
        display: block;
        margin-bottom: 1rem;
        font-weight: bold;
        color: $pink;
        cursor: pointer;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
  width: 100%;
  padding: 2rem;
  background-color: $grayDark;
  &__title {
    color: $white;
  }
  &__button {
    padding: 0.5rem 1rem;
    color: $white;
    font-weight: bold;
    background: $blue-pinkGradient;
    border: none;
    border-radius: 30px;
  }
}

@media (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__text {
      margin: 10rem 0 0 2rem;
    }
    &__image {
      width: 50%;
      transform: translateY(-15%);

      #imageTablet {
        display: inline-block;
      }
      #image {
        display: none;
      }
    }
  }
  .courses {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 0px;
    }
  }
}
@media (min-width: 868px) {
  .main {
    &__image {
      transform: translate(12%, -15%);
    }
  }
}
@media (min-width: 1200px) {
  .main {
    &__image {
      width: 45vw;
      transform: translate(-15%, -25%);

      #imageTablet {
        display: none;
      }
      #imageDesktop {
        display: inline-block;
      }
    }
  }
}
@media (min-width: 1600px) {
  .main {
    &__image {
      width: 45vw;
      transform: translate(0%, -25%);

      #imageTablet {
        display: none;
      }
      #imageDesktop {
        display: inline-block;
      }
    }
  }
}
